<div class="w-full min-h-[100%] flex flex-wrap place-content-center">
    <span class="w-full text-center text-blue-400 text-2xl font-inter py-10">La página que estás buscando no existe o no
        está disponible</span>
    <span class="w-full text-center text-blue-400 text-lg font-inter font underline hover:cursor-pointer"
        (click)="irAlInicio()">Volver al 'Inicio'</span>
    <img class="w-[50%]" src="assets/others/404NotFound.jpg" alt="">
    <span class="w-full text-center text-xs">
        <a
            href="https://www.freepik.es/vector-gratis/concepto-fallo-tecnico-landing-page_4660894.htm#query=404&position=1&from_view=search&track=sph">Imagen
            de pikisuperstar</a> en Freepik
    </span>
</div>